body {
    font-family: sans-serif;
    background-color:skyblue;
    margin-top: 70px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.abc {
    max-width: 800px;
    margin: 0 auto;
    color: #460b01;
    font-family: arial;
    padding-right: 20px;
    padding-left: 20px;
    
}
